*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
}

#wrapper{
border: 1px solid black;
width: 100%;
background-color: white;
margin: 0 auto;
}
#header{
background-color: rgb(44, 44, 44);
height: 300px;
display: flex;
width: 100%;
align-items: center;
justify-content: center;
/* background-image: url(./Pic.jpg); */
/* background-size: 100%; */
/* shape-outside: none; */

}
#header img{
    margin: 55px 0 0 100px;
width: 400px;
}
#menu{
background-color: rgb(0, 104, 117);
overflow: hidden;
}
#menu ul{
    display: inline-block;
}
#menu li{
display: inline-block;
/* margin: -2px; */
}
#menu li a{
display: block;
padding: 20px 33px;
text-decoration: none;
color: rgb(255, 255, 255);
}
#menu input{
    float: right;
    margin: 15px 40px 0 0;
    padding: 4px;
    border-radius: 20px;
    outline: none;
    text-indent: 10px;
    border: 1px solid grey;
}
#menu li:hover{
background-color: teal;
}

#content{
padding: 20px;
width: 80%;
float: left;
min-height: 500px;
}
#content h2{
padding: 5px;
margin: 5px;
border-left: 4px solid red;

}
#content p{
text-align: justify;
margin: 0px 20px 30px 20px;
}

#sidebar{
background-color: lightblue;
display: flex;
justify-content: center;
/* align-items: center; */
text-align: center;
width: 20%;
float: right;
min-height: 500px;
}
#sidebar li{
    margin-top: 30px;
list-style-type: none;
}
#sidebar li a {
 text-decoration: none;
 color: white;
 background-color: teal;
 padding: 10px;
 border-radius: 10px;
 /* margin: 5px; */
    
    }
#footer{
background-color: rgb(68, 68, 67);
clear: both;
padding: 5px 10px;
color: white;
text-align: center;
font-size: 10px;
}
#footer p{
border-left: 1px solid white;
border-right: 1px solid white;
display: inline-block;
padding: 0 10px;
}